body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-bg {
  background-image: url(img/ke.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 150px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-radius: 25px 0px;
}

.container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 15px black;
  border-radius: 25px 0px;
}

.info-box {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 60px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}

.info-box-1 {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}

.info-box-1 p {
  font-size: 1.3rem;
  margin: 10px;
}

.info-box input {
  background-color: gainsboro;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1.2rem;
  border: none;
  border-bottom: 2px solid black;
  padding: 15px 20px;
  color: black;
  border-radius: 25px 0px;
}

.info-box input::placeholder {
  color: black;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.info-box label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.2rem;
  text-align: center;
  color: black;
  margin: 0.5rem 0px;
  align-self: self-start;
}

.bill {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  background-color: rgb(244, 145, 25);
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0.7rem;
  align-self: center;
  margin-top: 25px;
  height: 8vh;
  width: 40vh;
}

.hide {
  display: none;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .img-bg {
    width: 300px;
    height: 120px;
  }

  .info-box {
    width: 100%;
    padding: 10px 40px;
  }
  .info-box-1 p {
    font-size: 1.2rem;
  }
  .bill {
    width: 35vh;
    height: 7vh;
  }
}

@media (max-width: 768px) {
  .img-bg {
    width: 350px;
    height: 150px;
  }
  .info-box-1 {
    padding: 10px 20px;
    width: 100%;
  }
  .info-box-1 p {
    font-size: 1rem;
  }
  .info-box {
    padding: 10px 20px;
  }

  .info-box input {
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 20px 0px;
  }
  .info-box label {
    font-size: 1.2rem;
    color: black;
    margin: 0.5rem 0px;
    align-self: self-start;
  }

  .info-box input::placeholder {
    font-size: 1rem;
  }

  .bill {
    width: 30vh;
    height: 6vh;
  }
}

@media (max-width: 480px) {
  .img-bg {
    width: 200px;
    height: 80px;
  }
  .info-box-1 {
    padding: 10px 10px;
    width: 100%;
  }
  .info-box-1 p {
    font-size: 0.9rem;
  }
  .info-box {
    padding: 10px 10px;
  }

  .info-box input {
    border-radius: 15px 0px;
    font-size: 0.9rem;
    padding: 8px 12px;
  }

  .info-box input::placeholder {
    font-size: 0.9rem;
  }

  .bill {
    font-size: 0.7rem;
    width: 25vh;
    height: 5vh;
  }
}
@media screen and (max-width: 320px) {
  .img-bg {
    width: 150px;
    height: 60px;
  }
  .info-box {
    padding: 10px 10px;
  }
  .info-box-1 {
    padding: 10px 10px;
    width: 100%;
  }
  .info-box-1 p {
    font-size: 0.8rem;
  }
  .info-box input {
    border-radius: 10px 0px;
    font-size: 0.8rem;
    padding: 6px 10px;
  }

  .info-box input::placeholder {
    font-size: 0.8rem;
  }

  .bill {
    font-size: 0.5rem;
    width: 30vh;
    height: 5vh;
  }
}
@media screen and (max-width: 280px) {
  .img-bg {
    width: 200px;
    height: 90px;
  }
  .info-box {
    padding: 10px 10px;
  }
  .info-box-1 {
    padding: 10px 10px;
    width: 100%;
  }
  .info-box-1 p {
    font-size: 0.7rem;
  }
  .info-box input {
    border-radius: 10px 0px;
    font-size: 0.7rem;
    padding: 5px 8px;
  }

  .info-box input::placeholder {
    font-size: 0.7rem;
  }

  .bill {
    font-size: 0.6rem;
    width: 35vh;
    height: 5vh;
  }
}
@media screen and (max-width: 240px) {
  .img-bg {
    width: 170px;
    height: 70px;
  }
  .info-box {
    padding: 10px 10px;
  }
  .info-box-1 {
    padding: 10px 10px;
    width: 100%;
  }
  .info-box-1 p {
    font-size: 0.6rem;
  }
  .info-box input {
    border-radius: 10px 0px;
    font-size: 0.6rem;
    padding: 4px 6px;
  }

  .info-box input::placeholder {
    font-size: 0.6rem;
  }

  .bill {
    font-size: 0.5rem;
    width: 20vh;
    height: 4vh;
  }
}
@media screen and (max-width: 200px) {
  .img-bg {
    width: 100px;
    height: 40px;
  }
  .info-box {
    padding: 10px 10px;
  }
  .info-box-1 {
    padding: 10px 10px;
    width: 100%;
  }
  .info-box-1 p {
    font-size: 0.4rem;
  }
  .info-box input {
    border-radius: 10px 0px;
    font-size: 0.5rem;
    padding: 3px 5px;
  }

  .info-box input::placeholder {
    font-size: 0.5rem;
  }

  .bill {
    font-size: 0.3rem;
    width: 15vh;
    height: 5vh;
  }
}
